<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Panel Administratora{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="admin-container">
        <!-- Sidebar -->
        <nav class="sidebar">
        <div class="menu-container">
            <button class="toggle-sidebar" onclick="toggleSidebar()">&#9776;</button>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">Wyloguj</a>
            {% endif %}
        </div>


            <div class="uls">
                <h2>Panel Administratora</h2><hr>

                <div class="only-worker-ul">
                    <ul>
                        <li class="sidebar-item sidebar-item-enabled"><a href="/">Strona Główna Restauracji</a></li>
                        <li class="sidebar-item sidebar-item-enabled"><a href="{{ url_for('waiter_view') }}">Widok Kelnera</a></li>
                        <li class="sidebar-item sidebar-item-enabled"><a href="{{ url_for('kitchen_view') }}">Widok Kuchni</a></li>
                        <!-- <li class="sidebar-item sidebar-item-enabled">
                            <button class="order-toggle-btn" onclick="toggleOrderDropdown()">
                                <span id="order-arrow" class="arrow">&#9654;</span> Zamawianie
                            </button>
                            <ul id="order-dropdown" class="order-dropdown">
                                {% if tables %}
                                    {% for table in tables %}
                                        <li class="li-tables"><a href="{{ url_for('menu', table_id=table.id) }}">Stolik {{ table.id }}</a></li>
                                    {% endfor %}
                                {% else %}
                                    <li><em>Brak dostępnych stolików</em></li>
                                {% endif %}
                            </ul>
                        </li> -->
                        <li class="sidebar-item sidebar-item-enabled"><a href="{{ url_for('choose_order_type') }}"><span id="order-arrow" class="arrow">&#9654;</span> Zamawianie</a></li>
                        <li class="sidebar-item sidebar-item-enabled"><a href="{{ url_for('menu_online_order') }}">📲 Zamawianie Online</a></li>

                    </ul>
                </div>
                <hr>
                <div class="admin-ul">
                    <ul>
                        <li class="sidebar-item sidebar-item-enabled"><a href="{{ url_for('admin_panel') }}">Zarządzaj Aktualnym Menu</a></li>
                        <li class="sidebar-item sidebar-item-enabled"><a href="{{ url_for('add_tables') }}">Dodaj Stoliki</a></li>
                        <li class="sidebar-item sidebar-item-enabled"><a href="{{ url_for('add_events') }}">Zarządzaj Wydarzeniami</a></li>
                        <li class="sidebar-item sidebar-item-enabled"><a href="{{ url_for('admin_add_popup') }}">Zarządzaj Pop-upem</a></li>
                        <!-- <li class="sidebar-item sidebar-item-disabled"><a>Rezerwacje stolików</a></li>  -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Main Content Area -->
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
<script>
    function toggleSidebar() {
        const sidebar = document.querySelector('.sidebar');
        sidebar.classList.toggle('collapsed');
    }

    function toggleOrderDropdown() {
        let dropdown = document.getElementById("order-dropdown");
        let arrow = document.getElementById("order-arrow");

        if (dropdown.style.display === "block") {
            dropdown.style.display = "none";
            arrow.classList.remove("open"); // Strzałka wraca do ►
        } else {
            dropdown.style.display = "block";
            arrow.classList.add("open"); // Strzałka obraca się na ▼
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        const sidebarItems = document.querySelectorAll('.sidebar-item a');

        sidebarItems.forEach(item => {
            if (item.href === window.location.href) {
                item.parentElement.classList.add('active');
            }
        });
    });




</script>
</html>
