<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wybierz Numer Stolika</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Wybierz numer stolika</h1>

<div class="form" style="margin-right: 16px; margin-left: 16px;">
    <h2>Zamówienie do stolika</h2>
    <form onsubmit="event.preventDefault(); const tableId = document.getElementById('table_id').value; window.location.href = '/menu/' + tableId;">
        <label for="table_id">Wybierz numer stolika:</label>
        <select name="table_id" id="table_id" required>
            {% for table in tables %}
                <option value="{{ table.id }}">Stolik nr {{ table.id }}</option>
            {% endfor %}
        </select>
        <button type="submit">Przejdź do menu</button>
    </form>
</div>

<!-- <div class="form">
    <h2>Zamówienie online (na wynos / dostawa)</h2>
    <a href="{{ url_for('menu_online_order') }}">
        <button>Przejdź do zamówienia online</button>
    </a>
</div> -->
</body>
</html>
